cartopy
cython
flake8
jupyter_contrib_nbextensions
keras
matplotlib
netCDF4
numba
numexpr
numpy
pandas
pint
pymongo
pytest
pytest-cov
scikit-image
scikit-learn
scipy
setuptools
sphinx
sphinx_rtd_theme
xarray
