# ssh configuration file
# settings for university servers
Host login
    Hostname login.zmaw.de
    User u300509

Host t7
    Hostname thunder7
    User u300509
    ProxyCommand ssh -q login nc -q0 %h 22
    LocalForward 4242 localhost:4242
    ForwardX11 yes
    ForwardX11trusted yes

Host apple
    Hostname apple157.mi.zmaw.de
    User u300509
    ProxyCommand ssh -q login nc -q0 %h 22

Host lehre
    Hostname lehre3
    User u300509
    ProxyCommand ssh -q login nc -q0 %h 22

Host cluster
    Hostname cluster.wr.informatik.uni-hamburg.de
    User kluft
    ForwardX11 yes
    ForwardX11trusted yes

# Host uni_info
#     Hostname  rzssh1.informatik.uni-hamburg.de
#     User xkluft
#     LocalForward 4242 localhost:4242

# personal machines
Host acer
    Hostname acer.local
    User lukas
    Port 8787

Host medion
    Hostname medion.local
    User lukas
    Port 8787

Host *
    Compression yes
    ForwardAgent yes
    ForwardX11 no
    ForwardX11trusted no
    HashKnownHosts yes
    LogLevel ERROR

